#component-cardborder{
    background-image: url("../../../assets/backdrop.png");
    background-size: cover;

    width: calc(100% - 2 * var(--card-border-thickness));
    height: calc(100% - 2 * var(--card-border-thickness));

    border-width: var(--card-border-thickness);
    border-style: solid;
    border-radius: 1em;
}