#component-cardborder{
    background-image: url("../../../assets/backdrop.png");
    background-size: cover;

    width: calc(100% - 2 * var(--card-border-thickness));
    height: calc(100% - 2 * var(--card-border-thickness));

    border: var(--card-border-thickness) solid var(--card-border-colour);
    border-radius: 1em;
}