#component-card{
    width: var(--card-width);
    height: var(--card-height);
    background-image: url("../../../assets/backdrop.png");

    font-size: x-small;

    margin: .25rem;
    
    transform-origin: top;
    transform: scale(var(--card-view-scale));

    overflow: hidden;
}

#component-card #card{
    position: relative;

    width: calc(100% - 2 * var(--card-border-thickness));
    height: calc(100% - 2 * var(--card-border-thickness));
}

#component-card #card #card-main{
    width: var(--card-content-width);
    height: var(--card-content-height);

    display: grid;
    grid-template-rows: var(--card-art-dominance) var(--card-body-dominance);

    background-image: var(--card-art-fullart);
    background-position: var(--card-art-horizontal-shift) var(--card-art-vertical-shift);
    background-size: var(--card-art-zoom);
    background-repeat: no-repeat;
}

#component-card #card #card-details{
    position: absolute;
    top: 0;
    left: 0;

    width: var(--card-content-width);
    height: var(--card-content-height);
}