#component-cardart{
    width: 100%;
    height: calc(100% - var(--card-border-thickness));

    overflow: hidden;

    border-bottom: var(--card-border-thickness) solid var(--card-art-border-colour);
}

#component-cardart img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transform: translate(var(--card-art-horizontal-shift), var(--card-art-vertical-shift)) scale(var(--card-art-zoom));
}