.component-carddetailblock{
    position: absolute;

    box-sizing: border-box;

    display: flex;

    /* Position along an edge */
    &.horizontal{
        flex-direction: row;
        align-items: center;

        width: 100%;
        height: var(--card-detail-thickness);

        left: 0;
    }

    &.vertical-left{
        text-align: center;

        left: 0;

        transform-origin: calc(var(--card-detail-thickness) / 2) calc(var(--card-detail-thickness) / 2);
        transform: rotate(90deg);
    }

    &.vertical-right{
        text-align: center;

        right: 0;

        transform-origin: calc(100% - var(--card-detail-thickness) / 2) calc(var(--card-detail-thickness) / 2);
        transform: rotate(-90deg);
    }

    /* Justify the block */
    &.first{
        top: 0;

        &[class*="vertical-"]{   
            width: calc(var(--card-art-dominance) - 1/2 * var(--card-art-gap-thickness));
        }
    }

    &.middle{
        /* On top of the body, - 1/2 its own height, + 1/2 the art gap thickness, to vertically center it on the art border */
        bottom: calc(var(--card-body-dominance) - (1/2 * var(--card-detail-thickness)) + (1/2 * var(--card-art-gap-thickness))); 

        &[class*="vertical-"]{
            top: 0;
            bottom: unset;
            
            width: calc(var(--card-height) - var(--card-footer-dominance) - 2 * var(--card-border-thickness));
        }
    }

    &.last{
        bottom: 0;

        &[class*="vertical-"]{
            top: calc(var(--card-art-dominance) - 1/2 * var(--card-art-gap-thickness));
            bottom: unset;

            /*width: calc(var(--card-height) - ((var(--card-art-dominance) - 1/2 * var(--card-art-gap-thickness))) - var(--card-footer-dominance) - 2 * var(--card-border-thickness));*/
            width: calc(var(--card-body-dominance) + 1/2 * var(--card-art-gap-thickness) + 0.2mm);
            max-width: var(--card-content-height);
        }
    }

    /* Justify the elements inside a block */
    &.start{
        justify-content: flex-start;
    }

    &.center{
        justify-content: space-around;
    }

    &.spread{
        justify-content: space-between;
    }

    &.end{
        justify-content: flex-end;
    }
}