.component-cardcost{
    display: flex;
    align-items: center;

    &.row{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    &.column{
        flex-direction: column;
        justify-content: flex-start;
    }
}
.component-cardcost.vertical-left span{
    transform: rotate(90deg);
}
.component-cardcost.vertical-right span{
    transform: rotate(-90deg);
}