.component-cardstats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &[class*="vertical-right"]{
        flex-direction: row-reverse;
    }
}
.component-cardstats.vertical-left span{
    transform: rotate(-90deg);
}
.component-cardstats.vertical-right span{
    transform: rotate(90deg);
}

.component-cardstats .separator{
    height: 1em;
    overflow: hidden;

    padding: 0em .2em;
}
.component-cardstats.vertical .separator{
    padding: .2em 0em;
}