.component-carddetailblock{
    position: absolute;

    display: flex;

    /* Position along an edge */
    &.horizontal{
        flex-direction: row;
        align-items: center;

        width: 100%;

        left: 0;
    }

    &.vertical-left{
        flex-direction: column;
        justify-content: space-around;

        max-width: .95em;
        overflow-wrap: break-word;
        line-height: .8em;
        text-align: center;

        left: 0;
    }

    &.vertical-right{
        flex-direction: column;
        justify-content: space-around;

        max-width: .95em;
        overflow-wrap: break-word;
        line-height: .8em;
        text-align: center;

        right: 0;
    }

    /* Justify the block */
    &.first{
        top: 0;

        &[class*="vertical-"]{
            height: calc(var(--card-art-dominance) - var(--card-border-thickness));
        }
    }

    &.middle{
        bottom: calc(var(--card-body-dominance) - 1/3 * var(--card-border-thickness));

        &[class*="vertical-"]{
            top: 0;

            height: 100%;
        }
    }

    &.last{
        bottom: 0;

        &[class*="vertical-"]{
            height: var(--card-body-dominance);
        }
    }

    /* Justify the elements inside a block */
    &.start{
        justify-content: flex-start;
    }

    &.center{
        justify-content: space-around;
    }

    &.spread{
        justify-content: space-between;
    }

    &.end{
        justify-content: flex-end;
    }
}