.component-cardstats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.vertical{
        flex-direction: column;
    }
}

.component-cardstats .separator{
    height: 1em;
    overflow: hidden;

    padding: 0em .2em;
}
.component-cardstats.vertical .separator{
    padding: .2em 0em;
}