.component-controls{
    display: grid;
    grid-template-columns: repeat(3, 33fr);
    gap: 5%;

    box-sizing: border-box;    
    width: 100%;
    height: 100%;

    padding: 2em;
}

.component-controls .column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.component-controls .column h2{
    text-align: center;

    border-bottom: .15em solid var(--text);
    margin: 1em 0em .5em 0em;
}