#component-cardbody{
    height: var(--card-body-dominance);
}

#component-cardbody #card-body-content{
    height: 100%;
    overflow: hidden;
    
    padding: var(--card-body-padding);
}

#component-cardbody #card-body-content .ability-text{
    width: 100%;

    margin: var(--card-body-spacing) 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    color: black;

    white-space: pre-wrap;
}