#component-cardborder{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-image: var(--card-border-background);
    box-shadow: inset var(--card-border-inset) var(--card-border-inset) var(--card-border-inset) var(--card-border-colour), 
        inset calc(-1 * var(--card-border-inset)) calc(-1 * var(--card-border-inset)) var(--card-border-inset) var(--card-border-colour);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    border: var(--card-border-thickness) solid var(--card-border-colour);
    border-radius: var(--card-border-radius);
}