#component-cardbody{
    height: var(--card-body-dominance);
}

#component-cardbody #card-body-content{
    height: 100%;
    overflow: hidden;
    
    padding: var(--card-body-padding);

    display: flex;
    flex-direction: column;
    justify-content: var(--card-body-justify);
}

#component-cardbody #card-body-content .ability-text{
    width: 100%;

    margin: var(--card-body-spacing) 0px;

    display: block;
    text-align: var(--card-body-align);
    overflow-wrap: break-word;

    color: black;

    white-space: pre-wrap;
}