#component-cardart{
    width: 100%;
    height: calc(var(--card-art-dominance) - var(--card-art-gap-thickness));

    overflow: hidden;

    margin-bottom: var(--card-art-gap-thickness);

    &.fullart{
        margin-bottom: none;
    }
}

#component-cardart img{
    width: 100%;
    height: 100%;

    object-fit: contain;

    transform: translate(var(--card-art-horizontal-shift), var(--card-art-vertical-shift)) scale(var(--card-art-zoom));
}