.component-closebutton{
    position: absolute;
    top: 0;
    right: 0;

    color: var(--text);
    background: transparent;

    padding: 0em;
    border: none;
    margin: .25em;
}

.component-closebutton:hover{
    cursor: pointer;
}