.component-colourinput{
    display: grid;
    grid-template-columns: 35fr 30fr 35fr;
}

.component-colourinput input{
    border: none;
    margin: .25em 0em;

    width: 100%;
}

.component-colourinput input[type="button"]{
    font-style: italic;
}