.component-control{
    display: grid;
    grid-template-columns: 35fr 65fr;
    gap: .25em;
    align-items: center;

    height: fit-content;
}

.component-control input, .component-control select{
    border: none;
    margin: .25em 0em;

    width: 100%;
}

.component-control input[type="text"], .component-control input[type="number"]{
    box-sizing: border-box;
    padding: 0em .25em;
}

.component-control input:invalid{
    outline: .2em solid red;
}