.component-control{
    display: grid;
    grid-template-columns: 35fr 65fr;
    gap: 1%;
    align-items: center;

    height: fit-content;

    &.toggleable{   
        grid-template-columns: 35fr 60fr 5fr;
    }
}

.component-control input, .component-control select, .component-control textarea{
    border: none;
    margin: .25em 0em;

    width: 100%;

    resize: none;
    overflow: hidden;
}

.component-control input[type="text"], .component-control input[type="number"]{
    box-sizing: border-box;
    padding: 0em .25em;
}

.component-control input:invalid{
    outline: .2em solid red;
}