.component-textsymbolinput textarea{
    box-sizing: border-box;
}

.component-textsymbolinput .input-symbol{
    padding: 0em;
}

.component-textsymbolinput .input-symbol > input{
    background-color: var(--accent);
    border: .25em solid var(--background-highlight);

    width: 7.5em;
}

.component-textsymbolinput .input-symbol .input-symbol-library{
    position: absolute;
    top: 100%;
}