#component-designpane #selector{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    font-size: xx-large;

    width: 100%;
    height: 6rem;
}

#component-designpane #selector button{
    background-color: var(--background-highlight);
    color: var(--text);

    font-size: xx-large;

    height: 6rem;
    border: none;
}

#component-designpane #selector button:hover, #component-designpane #selector button.selected{
    background-color: var(--accent);

    cursor: pointer;
}

#component-designpane #editor-panes{
    width: 100%;
    height: calc(100% - 6rem);
}