#component-newsymbolbutton{
    margin: .2em;

    font-size: 1.5rem;
    width: 1.5em;
    height: 1.5em;
}

#component-newsymbolbutton input{
    width: 100%;
    height: 100%;

    padding: 0em;
    border: .25em solid var(--accent);
    border-radius: 50%;
    margin: 0em;

    color: var(--accent);
    background-color: transparent;

    font-weight: bolder;
}