#component-savesymbolbutton{
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0em;
    border: none;
    margin: .25em;
    
    background-color: var(--background-highlight);
    color: var(--text);
}
#component-savesymbolbutton:hover{
    cursor: pointer;
}