#component-symbollibrary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    width: 20em;

    background-color: var(--background-highlight);
    border: .25em solid var(--accent);
}