#component-symbolcreator .symbolcreator{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 60em;
    height: 11em;
    
    background-color: var(--background-highlight);
    padding: .25em;
    border: .25em solid var(--accent);
    margin: auto auto;
}

#component-symbolcreator .display{
    height: 100%;

    display: grid;
    grid-template-columns: 12fr 30fr 58fr;
    gap: 1em;
    align-content: center;

    padding: 0em 1em;
}

#component-symbolcreator .display .thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#component-symbolcreator .display .thumbnail h1{
    font-size: 1.5rem;
    
    margin-bottom: 1.5em;
}

#component-symbolcreator .display #component-symbol{
    transform: scale(2);
}