#component-symboleditoricon form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

#component-symboleditoricon form div h1{
    font-size: medium;
    font-weight: normal;
}

#component-symboleditoricon form div .collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-height: 6em;
    overflow-y: scroll;
    scrollbar-width: none;
}

#component-symboleditoricon form div .collection:hover{
    scrollbar-width: initial;
}

#component-symboleditoricon form input[type="file"]{
    max-width: fit-content;
}