#component-symboleditorbase form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#component-symboleditorbase form .control{
    display: grid;
    grid-template-columns: 20fr 80fr;
    gap: .25em;
    align-items: center;
}

#component-symboleditorbase form .control input, #component-symboleditorbase form .control select{
    padding: 0em;
    border: none;
    margin: .25em 0em;

    width: 100%;
}