#component-symbollibrarypane .visible{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#component-symbollibrarypane #component-symbol{
    font-size: 1.2em;
    width: 2.25rem;
    height: 2.25rem;
}