#component-symbollibrarypane .visible{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#component-symbollibrarypane #component-symbol{
    transform-origin: center;
    transform: scale(2);

    margin: .75em;
}