#component-symbollibrary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
    padding: .05em .15em;
}

#component-symbollibrary > span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: fit-content;
}