#component-symbolcreator .symbolcreator{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 25vw;
    height: 25vh;
    
    background-color: var(--background-highlight);
    padding: .25em;
    border: .25em solid var(--accent);
    margin: auto auto;
}

#component-symbolcreator .display{
    height: 100%;

    display: grid;
    grid-template-columns: 20fr 80fr;
    gap: .25em;
    align-content: center;
}

#component-symbolcreator .display #component-symbol{
    justify-self: center;
    transform: scale(2);
}