body{
    /* Colour Definitions */
    --text: #f1ede3;
    --background: #0A0C10;
    --background-highlight: #002929;
    --accent: #00A6A6;

    /* Card Variables */
    --card-width: 63mm;
    --card-height: 88mm;
    --card-view-scale: 2;

    --card-art-gap-thickness: var(--card-border-thickness);
    --card-art-dominance: calc(50% + var(--card-art-border-thickness));
    --card-art-fullart: none;
    --card-art-horizontal-shift: 0px;
    --card-art-vertical-shift: 0px;
    --card-art-zoom: 1;

    --card-body-dominance: calc(100% - (var(--card-art-dominance)));
    
    --card-border-background: linear-gradient(#000000, #000000);
    --card-border-thickness: 2.5mm;
    --card-border-radius: var(--card-border-thickness);

    --card-content-width: calc(var(--card-width) - 2 * var(--card-border-thickness));
    --card-content-height: calc(var(--card-height) - 2 * var(--card-border-thickness) - var(--card-footer-dominance));
    
    --card-footer-dominance: 6%;
    --card-footer-text-colour: #000000;

    
    /* Page */
    color: var(--text);
    background-color: var(--background);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin: 0em;
}

/* CSS Reset */
h1, h2, h3, h4, h5, h6{
    padding: 0em;
    margin: 0em;
}

/* Universal Classes */
.hidden, #hidden {
    display: none;
}

input:invalid, input.invalid{
    outline: .2em solid red;
}

label, input, select, option{
    cursor: pointer;
}